@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Fira Code', monospace;
  }
}

@layer utilities {
  .terminal-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .terminal-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  .terminal-scrollbar::-webkit-scrollbar-thumb {
    background-color: #44475a;
    border-radius: 4px;
    border: 2px solid #1a1a1a;
  }
}
